.twitch-notes {

  &_button {
    z-index: var(--z-index-default) !important;
    position: relative !important;
    background-color: var(--color-background-button-primary-default);
    color: var(--color-text-button-primary);
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius-medium);
    font-size: var(--button-text-default);
    height: var(--button-size-default);
    padding: 0 var(--button-padding-x);

    &__outline {
      background: transparent;
      border: 2px solid var(--color-text-button-primary);
    }

  }

  &_close-button {
    cursor: default;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    letter-spacing: normal;
    text-rendering: auto;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    border: none;
    font-size: var(--button-text-default);
    font-weight: var(--font-weight-semibold);
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    white-space: nowrap;
    position: absolute;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    border-radius: var(--border-radius-medium);
    height: calc(var(--button-size-default) - 1rem);
    width: calc(var(--button-size-default) - 1rem);
    background-color: var(--color-background-button-text-default);
    color: var(--color-fill-button-icon);
    top: 1rem;
    right: 1rem;

    .twitch-notes_x-button {
      position: absolute;
      left: 0;
      width: calc(var(--button-size-default) - 1rem);
      height: calc(var(--button-size-default) - 1rem);
      top: 0;
      fill: currentcolor;
    }
  }

  &-floating-container {
    position: fixed;
    z-index: 1000000;
    width: 320px;
    height: 240px;
    background: var(--color-background-base);
    border: var(--border-width-default) solid var(--color-border-base) !important;
  }

  &-container {
    position: fixed;
    z-index: 1000000;
    min-width: 500px;
    max-width: 95vw;
    min-height: 240px;
    max-height: 80vh;
    background: var(--color-background-base);
    border: var(--border-width-default) solid var(--color-border-base) !important;

    &-header {
      width: 100%;
      height: calc(var(--button-size-default) + 1rem);
      line-height: calc(var(--button-size-default) + 1rem);
      border-bottom: var(--border-width-default) solid var(--color-border-base) !important;
      position: relative;

      &-title {
        color: var(--color-text-alt) !important;
        font-size: var(--font-size-6) !important;
        font-weight: var(--font-weight-semibold) !important;
        text-transform: uppercase !important;
        margin-left: calc((32px - var(--font-size-6)) / 2);
        width: calc(100% - 2rem);
      }
    }

    &-content {
      display: grid;
      grid-template-columns: 240px 1fr;


      &-user-list {
        border-right: 1px solid #FFFFFF19;
        height: 100%;
        max-height: calc(80vh - 2 * var(--button-size-default) + 1rem);
        min-width: 240px;
        overflow-y: auto;
        overflow-x: hidden;


        &-item {
          padding: 1rem;
          border-bottom: var(--border-width-default) solid var(--color-border-base) !important;
          cursor: pointer;
          width: 100%;
          color: var(--color-text-alt) !important;
          font-size: var(--font-size-6) !important;
          font-weight: var(--font-weight-semibold) !important;
          text-transform: uppercase !important;

          &-search {
            background: transparent;
            outline: none;
            color: var(--color-fill-button-icon);
          }
        }
      }

      &-note-container {

        &-note {
          min-width: 420px;
          min-height: 320px;
          display: block;
          margin: 1rem;
          border: var(--border-width-default) solid var(--color-border-base) !important;
          padding: 1rem;
        }

        &-controls {
          padding: 1rem;
          display: flex;
          align-content: center;

          &-saved {
            color: green;
            padding-left: 1rem;
            line-height: var(--button-size-default);
          }
        }
      }
    }

    &-footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      border-top: var(--border-width-default) solid var(--color-border-base) !important;
      padding: 1rem;
      text-align: center;
    }
  }

  &-header {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: var(--border-width-default) solid var(--color-border-base) !important;
    position: relative;
    cursor: move;
  }

  &--container-header-title {
    color: var(--color-text-alt) !important;
    font-size: var(--font-size-6) !important;
    font-weight: var(--font-weight-semibold) !important;
    text-transform: uppercase !important;
    padding-left: calc((32px - var(--font-size-6)) / 2);
  }

  &-title {
    color: var(--color-text-alt) !important;
    font-size: var(--font-size-6) !important;
    font-weight: var(--font-weight-semibold) !important;
    text-transform: uppercase !important;
    padding-left: calc((32px - var(--font-size-6)) / 2);
  }

  &-close-button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    aspect-ratio: 1;
    color: var(--color-text-alt) !important;
    font-size: var(--font-size-6) !important;
    font-weight: var(--font-weight-semibold) !important;
    text-transform: uppercase !important;
    cursor: pointer;
  }

  &-content {
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    bottom: 32px;
    background: transparent;
    color: var(--color-text-base) !important;
    font-family: var(--font-base);
    vertical-align: baseline;
    outline: none;
    overflow: auto;
    padding: calc((32px - var(--font-size-6)) / 2);
  }

  &-save-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 32px;
    border-top: var(--border-width-default) solid var(--color-border-base) !important;
    cursor: pointer;
    color: var(--color-text-alt) !important;
    font-size: var(--font-size-6) !important;
    font-weight: var(--font-weight-semibold) !important;
    text-transform: uppercase !important;
    text-align: center;
    line-height: 32px;
  }

  &-x-button {
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 100%;
    top: 0;
    fill: currentcolor;
  }

  &-blurred-background {
    position: fixed;
    inset: 0 0 0 0;
    z-index: 2000000;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
  }

  &-center-floating-container {
    background: var(--color-background-base);
    border: var(--border-width-default) solid var(--color-border-base) !important;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    min-height: 320px;
    min-width: 300px;
    max-height: 90vh;
    max-width: 90vw;
    overflow: auto;
  }

  &-link {
    display: inline-block;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--color-text-link) !important;
    line-height: var(--line-height-heading) !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    font-weight: var(--font-weight-semibold) !important;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &-grid-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}
